* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  width: 100vw;
  background: black;
  display: flex;
}
h1 {
  position: absolute;
  justify-self: center;
  width: 100%;
  height: 100%;
  display: flex;
  align-self: center;
  /* color: white; */
  font-size: 20vw;
  /* background-color: black; */
  /* mix-blend-mode: multiply; */
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.9);
  mix-blend-mode: multiply;
  text-transform: uppercase;
  text-align: center;
  overflow: hidden;
}
video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
